.dashboardContent h1{
    margin-left: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

.dashboardContent h2{
    margin-left: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

.productSales{
    display: flex;
}

.comboProducts{
    display: flex;
    margin-top: 30px;
}


.product{
    margin-left: 30px;
    width: 300px;
    height: 180px;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 30px;
}

.header{
    display: grid;
    grid-template-columns: 90% 10%;
}

.header button{
    margin-top: 30px;
}


@media (max-width: 600px) {
  .header{
    width: 100%;
    text-align: center;
  }
  .productSales, .comboProducts{
    flex-direction: column;
  }
  .product{
    width: 200px;
    margin-bottom: 10px;
  }
  .product p{
    font-size: 30px;
  }
}